<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>All Users</title>
    <style>table th, table td {
        padding: 5px;
        border: 1px solid
    }</style>
</head>

<body>
<h3>List of users</h3>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.surname}"></td>
        <td th:utext="${user.age}"></td>
        <td>
            <form action="#" th:action="@{'/update/{id}'(id=${user.id})}">
                <button type="submit" class="btn">
                    Update
                </button>
            </form>
            <hr>
            <form action="#" th:action="@{'/delete/{id}'(id=${user.id})}">
                <button type="submit" class="btn">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    <br>
</table>
<br>
<input type="button" value="Add"
       onclick="window.location.href = 'new'"/>
</body>

</html>